/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache

#ide helper
_ide_helper.php

#homestead
Homestead.yaml
Homestead.json

# phpstorm
/.idea

# Vagrant files
Vagrant
/.vagrant

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
