/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
# php storm
/.idea

# Vagrant files
/.vagrant

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*